<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="/" class="navbar-brand d-flex align-items-center ps-2 px-lg-5">
        <h2 class="m-0 text-primary"><img class="img-fluid logo pe-1" src="./assets/img/auto-king-final-logo.svg">Auto King Company</h2>
    </a>
    <button type="button" class="navbar-toggler me-2" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/" routerLinkActive="active" class="nav-item nav-link">Home</a>
            <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
            <a routerLink="/services" routerLinkActive="active" class="nav-item nav-link">Services</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-up m-0">
                    <a routerLink="/booking" class="dropdown-item">Booking</a>
                    <!-- <a routerLink="/team" class="dropdown-item">Technicians</a>
                    <a routerLink="/testimonial" class="dropdown-item">Testimonial</a> -->
                </div>
            </div>
            <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
        </div>
        <a routerLink="/contact" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Get A Quote<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>