<app-topbar-component></app-topbar-component>

<app-navbar></app-navbar>
<app-page-header title="Contact" subtitle="Contact us for any query"></app-page-header>

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Contact Us //</h6>
            <h1 class="mb-5">Contact For Any Query</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Booking //</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i><a
                                    href="sales@autokingksa.com">sales&#64;autokingksa.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// General //</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i><a
                                    href="marketing@autokingksa.com">marketing&#64;autokingksa.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Technical //</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i><a
                                    href="tech@autokingksa.com">tech&#64;autokingksa.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.7608007127756!2d50.028559275255446!3d26.463438276917856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e49ff0066ec5dbb%3A0x1da0fd116fa2cf1a!2sAuto%20King%20Company!5e0!3m2!1sen!2ssa!4v1739445836669!5m2!1sen!2ssa"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>





            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <h1 class="text-white mb-4">Book For A Service</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Your Name"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Your Email"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" style="height: 55px;">
                                    <option selected>Select A Service</option>
                                    <option value="1">Brake Service</option>
                                    <option value="2">Oil Service</option>
                                    <option value="3">AC Service</option>
                                    <option value="4">Diagnostics</option>Diagnostics
                                    <option value="5">ADAS</option>
                                    <option value="7"> Petrol Engine services</option>
                                    <option value="8">Diesel Engine services</option>
                                    <option value="9">Denting & bending & painting</option>
                                    <option value="10">Silencer work.</option>
                                    <option value="11">Radiator job</option>
                                    <option value="12">Battery check-up</option>
                                    <option value="13">A/C repairs</option>
                                    <option value="14">Electrical system services</option>
                                    <option value="15">Tires</option>
                                    <option value="16">Steering & suspension</option>
                                    <option value="17">Greasing Job</option>
                                    <option value="18">Oil & filter change</option>
                                    <option value="19">Exhaust work</option>
                                    <option value="20">Heating & cooling</option>
                                    <option value="21">Wiper & windshield</option>
                                    <option value="22">Wheel Alignment</option>
                                    <option value="23">Tune-up</option>
                                    <option value="24">Transmission</option>
                                    <option value="25">Engine & Fuel system services</option>
                                    <option value="26">Mechanical services</option>
                                    <option value="27">Brakes work</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text" class="form-control border-0 datetimepicker-input"
                                        placeholder="Service Date" data-target="#date1" data-toggle="datetimepicker"
                                        style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="Special Request"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3" type="submit">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Contact End -->
        <app-footer></app-footer>
